<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
        .with_border {
            border: 0.2px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        .red-text {
            color: red;
        }
    </style>

</head>
<body>
<div class="container">

    <div class="pull-right">
        <table>
            <tr>
                <td style="font-size: 20px;">Ajrun</td>
            </tr>
        </table>
    </div>
    <div style="border-bottom: 1px solid #ccc; padding-bottom: 10px;margin-bottom: 20px; " class="row">
        <table width="100%">
            <tr>
                <td class="text=center" colspan="2">
                    <b style="font-size: 20px;">Tax Invoice</b>
                    <span th:if="${invoice.getStatus().ordinal() == 3}"
                          style="font-size: 20px; color: #ff0000; border: 1px solid red; padding: 2px;">Cancelled</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Arjun Tech Pvt. Ltd.
                </td>
            </tr>
            <tr th:if="${invoice.getPhotoMerchant() != null && invoice.getPhotoMerchant().getMerchant() != null && invoice.getPhotoMerchant().getMerchant().getLocality() != null && !invoice.getPhotoMerchant().getMerchant().getLocality().isEmpty()}">
                <td colspan="2">
                    <small th:text="${invoice.getPhotoMerchant().getMerchant().getLocality()}"></small>
                </td>
            </tr>
            <tr>
                <td style="font-size: 12px">
                    <small>PAN: AAYCS6362C</small>
                </td>
                <td style="font-size: 12px;" align="right">
                    <small>
                        <span style="color:grey">Contact Us: abc@gmail.com</span>
                    </small>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table width="100%">
            <tr>
                <td width="50%">
                    <b>Bill To</b>
                    <p style="margin-top: 5px;"></p>
                    <span th:text="${invoice.getPhotoMerchant().getMerchant().getBusiness().getName()}"></span>
                </td>
                <td width="50%" align="right">
                    <table width="100%">
                        <tr th:if="${invoice.getId() != null}">
                            <td>
                                <b style="color: red !important;" th:text="${invoice.getId() + ' No:'}">Credit Note:</b>
                            </td>
                            <td th:text="${invoice.getId()}">
                                102-1
                            </td>
                        </tr>
                        <tr th:if="${invoice.getId() != null}">
                            <td>
                                <b th:text="${invoice.getId() + ' Date:'}">Credit Note Date:</b>
                            </td>
                            <td th:text="${invoice.getUpdateTime()}">
                                102-1
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <p style="margin-top: 50px;"></p>
    <div class="row">
        <table width="100%" class="with_border">
            <tr class="with_border">
                <td width="50%" class="with_border"><b>Particulars</b></td>
                <td width="20%" class="with_border"><b>HSN/SAC</b></td>
                <td align="right" class="with_border"><b>Amount (INR)</b></td>
            </tr>
            <tr class="with_border" th:if="${invoice.getAmount() != null}">
                <td class="with_border">Service Charge</td>
                <td class="with_border"><b>998599</b></td>
                <td align="right" class="with_border" th:text="${invoice.getAmount()}"></td>
            </tr>
            <tr class="with_border">
                <td class="with_border"></td>
                <td class="with_border"></td>
                <td class="with_border"></td>
            </tr>
            <tr class="with_border">
                <td class="with_border">Total</td>
                <td></td>
                <td align="right" class="with_border">
                    <b th:text="${total}" style="color: red !important;"></b>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
