<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content,title,script)">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title data-th-text="${user.getEmail()}">Profile Page</title>
    <!-- 🔥 ONE LINE IMPORTS ALL CSS 🔥 -->
    <th:block th:replace="~{user/dashboard_fragments :: head_imports}"></th:block>
</head>

<body>

    <div th:replace="~{user/user_sidebar :: user_sidebar}" ></div>

   <div id="responsiveContainerAlert" >
        <div  id="status_alert_content"  class="alert hidden alert-warning container text-center"  role="alert">
           
        </div>
   </div>
      
        <div  class="small_screen" id="responsiveContainer" >
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800 text-primary">Merchant Admin User</h1>
            </div>
            <!-- ./Page Heading -->
            <!-- Horizonatal Line -->
            <hr class="mt-0 mb-4">
            <!-- ./Horizonatal Line -->
           
        </div>

    <!-- 🔥 ONE LINE IMPORTS ALL JS 🔥 -->
    <th:block th:replace="~{user/dashboard_fragments :: script_imports}"></th:block>

<script type="text/javascript">
	

</script>
</body>
</html>